@import url(https://fonts.googleapis.com/css?family=Margarine);
@import url(https://fonts.googleapis.com/css?family=Londrina%20Shadow);
@import url(https://fonts.googleapis.com/css?family=Londrina%20Solid);

/*CSS for Colors Page*/
#color-background {
    background-image: url(images/color-page-background.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: lighten;
}

#appTitle {
    color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Londrina Shadow';
    font-size: 450%;
}

#title-background {
    background-color: #eae2e28f;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#nav-bar {
    width: 75%;
    margin: auto;
    padding-bottom: 5px;
    font-family: 'Londrina Shadow';
    font-size: 40px;
}

#nav-link{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

#all-nav-links{
    display: flex;
    padding: 9px;
    border: 1.3px solid black;
    border-radius: 11rem;
    color: black;
    background: #ffffffbd;
}

#color-rows {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto auto;
    padding: 30px;
    color: white;
}

#color-page-backgroundBox {
    border-radius: 2rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#color-item {
    border-radius: .8rem;
    padding-top: 40%;
    padding-bottom: 40%;
    text-align: center;
    font-family: 'Margarine';
    font-size: 160%;
    box-shadow: 3px 3px 3px #aaaaaa;
    border-bottom-style: solid;
    border-bottom-color: hsla(89, 43%, 10%, 0.3);
    border-top-style: solid;
    border-top-color: hsla(89, 20%, 90%, 0.3);
}

#color-item:hover {
    transform: translate(0, -10px);
}

.red-card {
    background-color: rgb(255, 0, 0); 
    
}

.yellow-card {
    background-color: #fdd835;
    color: #373822;
}

.orange-card {
    background-color: orange;
}

.blue-card {
    background-color: #086bff;
}

.green-card {
    background-color: green;
}

.brown-card {
    background-color: #a36926;
}

.purple-card {
    background-color: purple;
}

.black-card {
    background-color: black;
    color: white;
}

#game-button {
    width: 230px;
    height: 50px;
    font-size: 30px;
    border-radius: 2rem;
    color: black;
    background: white;
    font-family: 'Margarine';
    transition: background-color 500ms, color 500ms;
    margin-bottom: 10%;
}

#game-button:hover {
    background: #1d1f1ee8;
    color: white;
    transition: background-color 500ms, color 500ms;  
}

#game-button-container{
    width: 200px;
    margin: auto;
}

/*CSS for Home Page*/
#home-background {
    background-color: rgba(80, 8, 243, 0.62);
}

#HomeTitle {
    text-align: center;
    font-size: 450%;
    font-family: 'Londrina Shadow';
    margin-bottom: 0%;
    padding-top: 2%;
}

#home-container {
    background: rgba(192, 213, 239, 0.68);
    margin-bottom: 4%;
    border-radius: .8rem;
    margin-left: 2%;
    margin-right: 2%;
}

#purpose-statement {
    text-align: center;
    font-family: 'Margarine';
    font-size: 140%;
}

.home-nav {
    margin-top: 150px;
}

/* CSS for Colors game */
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 400px;
  font-size: 135%;
  padding-bottom: 2%;
}

.fun {
    font-family: 'Londrina Solid';
    color: rgba(80, 8, 243, 0.5);
}

#preview-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 2%;
    grid-gap: 30px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
}

.preview-pic {
    border-radius: 1rem;
}

.preview-description {
    font-family: 'Margarine';
    font-size: 135%;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

#preview-item {
    text-align: center;
    background: rgba(192, 213, 239, 0.68);
    padding-bottom: 2%;
    padding-top: 4%;
    border-radius: .8rem;
}

/*CSS for Alphabet Page*/
#alphabetBackground {
    background-image: url(images/alphabet/alphabetBackground.png); 
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: lighten;
}

.alphabet-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
  padding: 5px;
}

.grid-item {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 15px;
}